<div class="portfolio-container">
  <div class="projects" data-aos="fade-right" data-aos-offset="300">
    <img class="join" src="./assets/img/Join-finale.png" alt="" />
    <div class="colum">
      <span class="name">Join</span>
      <span class="programming">JavaScript | HTML | CSS</span>
      <span class="description"> {{ "join" | translate }}</span>
      <div class="buttons">
        <a
          class="live"
          target="_blank"
          href="http://www.join.danny-portfolio.com/contact.html"
          >Live test</a
        >
        <a
          class="code"
          target="_blank"
          href="https://github.com/Danny-Marcel-Berg/Join"
          >GitHub</a
        >
      </div>
    </div>
  </div>
  <div class="projects-re" data-aos="fade-left" data-aos-offset="300">
    <img class="pollo-img" src="./assets/img/EL_T.png" alt="" />
    <div class="colum-re">
      <span class="name">El Pollo Loco</span>
      <span class="programming">JavaScript | HTML | CSS</span>
      <span class="description">{{ "Pollo" | translate }}</span>
      <div class="buttons">
        <a
          class="live"
          target="_blank"
          href="https://www.el-pollo.danny-portfolio.com/"
          >Live test</a
        >
        <a
          class="code"
          target="_blank"
          href="http://github.com/Danny-Marcel-Berg/El-Pollo-loco"
          >GitHub</a
        >
      </div>
    </div>
  </div>
  <img class="background-end" src="./assets/img/portfolioEnd.svg" alt="" />
</div>
