.impr-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
}

.goback {
  position: fixed;
  top: 20px;
  left: 20px;
  height: 30px;
  width: 30px;
  z-index: 1000;
}

.goback:hover line {
  stroke: #70e61c;
}

.overdiv {
  scroll-behavior: auto !important;
  font-family: "Poppins";
  background-color: rgb(20, 29, 47);
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-left: 20%;
  padding-right: 20%; /* Neuer Wert für den rechten Seitenabstand */
  padding-top: 20px;
  text-align: center;
  overflow-y: auto;
}

.overdiv a {
  color: white;
}

h1,
h2,
h3,
h4 {
  font-size: 2rem;
  color: white;
  text-decoration: underline;
}

p {
  font-size: 1rem;
}

.impr-top img {
  width: 50px;
}

.impr-top a {
  cursor: pointer;
}
